species|term|association|annotation
cassavaV6|GO|annotation/cassavaV61.go|annotation/cassavaV6.go.names
cassavaV6|KEGG|annotation/cassavaV61.kegg|annotation/cassavaV6.kegg.names
cassavaV6|PANTHER|annotation/cassavaV61.panther|annotation/cassavaV6.panther.names
cassavaV6|KOG|annotation/cassavaV61.kog|annotation/cassavaV6.kog.names
cassavaV6|PFAM|annotation/cassavaV61.pfam|annotation/cassavaV6.pfam.names
